body{
    height: 100%;
        background: -webkit-linear-gradient(90deg, rgb(43, 228, 157) 10%, #EAECC6 90%); 
        background:    -moz-linear-gradient(90deg, rgb(43, 228, 157) 10%, #EAECC6 90%); 
        background:     -ms-linear-gradient(90deg, rgb(43, 228, 157) 10%, #EAECC6 90%); 
        background:      -o-linear-gradient(90deg, rgb(43, 228, 157) 10%, #EAECC6 90%); 
        background:         linear-gradient(90deg, rgb(43, 228, 157) 10%, #EAECC6 90%); 
}

.card{
    height:50%;
}

.gif{
    height:200px;
}

.jumbotron{
    height:100%;
}

h1{
    font-weight: bold;
    font-family: 'Bitter', serif;
    text-align: center;
}

label{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.title{
    font-weight: bold;
    font-size: 17px;
    height:70px;
    font-family: 'Merriweather', serif;
}

.buttonC{
    background-color: green;
    color:white;
}

.gifFavoriteClass{
    height:200px;
    width:180px;
}
