.card-img-top, .card{
 
    height:350px;
}

.gif{
    max-height:80%;
    height:80%;
}

.jumbotron{
    height:100%;
}

h1{
    font-family: 'Bitter', serif;
    text-align: center;
}

label{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}
